body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 350px;
    height: 500px;
    box-shadow: 10px 10px 20px rgb(95, 95, 95);
    border-radius: 10px;
}
.calculator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(188, 185, 185);
    width: 300px;
    height: 450px;
    border-radius: 8px;
}

#display{
    display: flex;
    margin: 20px 5px 5px 5px;
    width: 250px;
    height: 50px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: inset 5px 5px 8px 1px rgb(197, 196, 196), inset -5px -5px 8px 1px rgb(197, 196, 196);
    border-left: 3px solid rgb(236, 235, 235);
    border-top: 3px solid rgb(162, 162, 162);
    border-right: 3px solid rgb(162, 162, 162);
    border-bottom: 3px solid rgb(236, 235, 235);
    font-size: 30px;
    color:rgb(49, 49, 49) ;
    font-weight: 600;
}

.button_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    width: 60px;
    height: 55px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(191, 191, 187, 0.5);
    font-size: 25px;
}
.math_button{
    background-color:rgb(49, 49, 49);
    color: azure;
    box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #272626;
    border-left: 3px solid rgb(15, 15, 15);
    border-bottom: 3px solid rgb(15, 15, 15);
    border-right: 3px solid rgb(88, 88, 88);
    border-top: 3px solid rgb(88, 88, 88);
}
.clear_button{
    background-color: rgb(237, 42, 42);
    box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #e60808;
    border-left: 3px solid rgb(189, 12, 12);
    border-bottom: 3px solid rgb(189, 12, 12);
    border-right: 3px solid rgb(224, 102, 102);
    border-top: 3px solid rgb(224, 102, 102);
}
.digit_button{
    background-color: rgb(221, 240, 240);
    border-right: 3px solid rgb(233, 240, 240);
    border-top: 3px solid rgb(233, 240, 240);
    border-bottom: 3px solid rgb(192, 223, 223);
    border-left: 3px solid rgb(192, 223, 223);
    box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #cdeaea;
}
